{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: white;
  color: cream;
  line-height: 1.6;
}
h1{
  backgraound: beige;
  color: white;
  font-family: Arial;
  border-style: ridge;
  text-align: center;
}
h2{
  font-family: Arial;
  border-style: ridge;
  text-align: center;
}
